﻿@model HipHopZen.Models.Comment

@using (Ajax.BeginForm("_CommentsForPost",
                                   "Comment",
                                   new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "comments-tool" }))
{
    <div class="add-comment-tool">
        @Html.HiddenFor(m => m.PostID)
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control", placeholder = "Create a nickname" } })
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", placeholder = "Add a comment" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10" style="margin-top: 5px;">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="reset" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}
