﻿@model IEnumerable<HipHopZen.Models.Comment>

@foreach (var item in Model)
{
    <div class="panel panel-info" id="commentList">
        <div class="panel-heading">
            <strong>@item.Nickname:</strong>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <button type="button" data-delete-confirmation-text='Do you want to delete this comment: @item.Text?' data-delete-url="@Url.Action("Delete", "Comment", new { id = item.Id })" class="btn btn-sm btn-danger glyphicon glyphicon-remove pull-right"></button>
            }
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.Text)
            <br />
            <small><em>@Html.DisplayFor(modelItem => item.Date)</em></small>
        </div>
    </div>
}
