﻿@model IEnumerable<HipHopZen.Models.Category>
@{
    ViewBag.Title = "Show categories";
}

<ul class="list-group" id="categoryList">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Name, "SearchByCategory", new { category = item.Name })
            &nbsp;
            @if (item.Name != "Other" && Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <button type="button" data-delete-confirmation-text='Do you want to delete the category @item.Name?' data-delete-url="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger glyphicon glyphicon-remove pull-right"></button>
            }
        </li>
    }
</ul>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create category", "Create", "Category", null, new { @class = "btn btn-lg btn-primary" })
    </p>
}
