﻿@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>
<h3>Contact page</h3>

<address>
    Street Address<br />
    Skopje 1000, Macedonia<br />
    <abbr title="Phone">P:</abbr>
    Phone number
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@example.com</a>
</address>