﻿@model IEnumerable<HipHopZen.Models.PostDetailsModel>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Hip-Hop Zen</h1>
        <p class="lead">Hip-Hop Zen is your blog platform for sharing rap news around the world</p>
    </div>*@

<div class="main-img">
    <img src="~/Images/main_pic.png" />
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-8 col-md-offset-2">
            <h2><strong>@Html.ActionLink(@item.Title, "Details", "Post", new { id = item.Id }, new { @class = "heading-post" })</strong></h2>
            <small><strong>@item.Date.ToString("dd/MM/yyyy")</strong></small>
            <div class="post-info">
                <div>@item.Description</div>
                <div>
                    <strong>Votes: </strong>@item.Votes
                </div>
                <div>
                    <strong>Category: </strong>@item.CategoryName
                </div>
                @if (item.Rating != null)
                {
                    <div>
                        <strong>Rating: </strong><span class="stars">@item.Rating</span>
                    </div>
                }
                @if (item.Price != null)
                {
                    <div>
                        <strong>Price: </strong>@item.Price
                    </div>
                }
                @if (item.URL != null)
                {
                    <div>
                        <strong>Link: </strong><a href="http://@item.URL" target="_blank">@item.Title</a>
                    </div>
                }
            </div>
            <div class="text-center">
                @if (item.VideoURL != null)
                {
                    <div>
                        <iframe width="510" height="265" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                }
                @if (item.PhotoFile != null)
                {
                    <div class="photo-display">
                        <img width="220" height="240" src="@Url.Action("GetImage", "Home", new { id = item.Id })" />
                    </div>
                    <br />
                }
                <p style="margin-top: 10px">
                    @Html.ActionLink("View Details", "Details", "Post", new { id = item.Id }, new { @class = "btn btn-lg btn-default" })
                </p>
                <hr />
            </div>
        </div>
    }
</div>
@if (ViewBag.ShowAll == false)
{
    <p>
        @Html.ActionLink("Show all posts", "Show", "Home", new { @class = "btn btn-lg btn-primary" })
    </p>
}

@section scripts
{
    <script>
        $.fn.stars = function () {
            return this.each(function (i, e) { $(e).html($('<span/>').width($(e).text() * 16)); });
        };

        $('.stars').stars();
    </script>
}
