﻿@model IEnumerable<HipHopZen.Models.PostDetailsModel>

<div class="row">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-8 col-md-offset-2 show-posts" id="postList">
                <h2><strong>@Html.ActionLink(@item.Title, "Details", "Post", new { id = item.Id }, new { @class = "heading-post" })</strong></h2>
                <small><strong>@item.Date.ToString("dd/MM/yyyy")</strong></small>
                <div class="post-info">
                    <div>@item.Description</div>
                    <div>
                        <strong>Votes: </strong>@item.Votes
                    </div>
                    <div>
                        <strong>Category: </strong>@item.CategoryName
                    </div>
                    @if (item.Rating != null)
                    {
                        <div>
                            <strong>Rating: </strong><span class="stars">@item.Rating</span>
                        </div>
                    }
                    @if (item.Price != null)
                    {
                        <div>
                            <strong>Price: </strong>@item.Price
                        </div>
                    }
                    @if (item.URL != null)
                    {
                        <div>
                            <strong>Link: </strong><a href="http://@item.URL" target="_blank">@item.Title</a>
                        </div>
                    }
                </div>
                <div class="text-center">
                    @if (item.VideoURL != null)
                    {
                        <div>
                            <iframe width="510" height="265" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <br />
                    }
                    @if (item.PhotoFile != null)
                    {
                        <div class="photo-display">
                            <img width="220" height="240" src="@Url.Action("GetImage", "Home", new { id = item.Id })" />
                        </div>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <p style="margin-top: 10px">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                            <button type="button" data-delete-confirmation-text='Do you want to delete the post @item.Title?' data-delete-url="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</button>
                        </p>
                    }
                    <hr />
                </div>
            </div>
        }
    }
    else
    {
        <p class="lead text-warning">
            There are no posts yet
        </p>
    }
</div>