﻿@model HipHopZen.Models.PostDetailsModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Post details";
}

<h2>@Model.Title</h2>
<small><strong>@Model.Date.ToString("dd/MM/yyyy")</strong></small>

@if (Model.PhotoFile != null)
{
    <div class="photo-display">
        <img width="200" height="210" src="@Url.Action("GetImage", "Post", new { id = Model.Id })" />
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>URL:</dt>
        <dd><a href="http://@Model.URL" target="_blank">@Model.URL</a></dd>

        <dt>Description:</dt>
        <dd>@Model.Description</dd>

        <dt>Rating:</dt>
        <dd>@Model.Rating</dd>

        <dt>Votes:</dt>
        <dd id="votes-@Model.Id">@Model.Votes</dd>

        <dt>Price:</dt>
        <dd>@Model.Price</dd>

        <dt></dt>
        <dd><iframe width="560" height="315" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe></dd>

        <dt>Category:</dt>
        <dd>@Html.DisplayFor(model => model.CategoryName)</dd>
    </dl>
    <p>
        @Ajax.ActionLink("Add vote", "AddVote", "Post",
                        new { id = Model.Id },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "votes-" + @Model.Id
                        },
                        new
                        {
                            @class = "btn btn-primary btn-lgg"
                        })
    </p>
    <div id="commentsTable">
        @Html.Action("_CommentsForPost", "Comment", new { postId = Model.Id })
    </div>
</div>
<div class="links">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }); <span>|</span>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }); <span>|</span>
    }
    @Html.ActionLink("Home page", "Index", "Home")
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmationModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button id="btnConfirm" type="button" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $.fn.stars = function () {
            return this.each(function (i, e) { $(e).html($('<span/>').width($(e).text() * 16)); });
        };

        $('.stars').stars();

        $(function () {
            var deleteUrl = "",
                deleteConfirmationText = "",
                $confirmationModal = $("#confirmationModal");

            $(document).on("click", "#commentList [data-delete-url]", function () {
                //get data atrributes settings from current button
                deleteUrl = $(this).data("deleteUrl");
                deleteConfirmationText = $(this).data("deleteConfirmationText");

                //fill modal containers with values
                $confirmationModal.find(".modal-title").text("Delete comment?");
                $confirmationModal.find(".modal-body").text(deleteConfirmationText);

                $confirmationModal.modal('show');
            });

            $confirmationModal.find("#btnConfirm").click(function () {
                $.ajax({
                    type: 'GET',
                    url: deleteUrl,
                    success: function (responseHtml) {
                        $confirmationModal.modal('hide');
                        $("#commentsTable").html(responseHtml);
                    },
                    error: function () {
                        console.log("Error");
                    }
                });
            });
        });
    </script>
}
