﻿@model IEnumerable<HipHopZen.Models.PostDetailsModel>

@{
    ViewBag.Title = "Manage posts";
}

<h2>@ViewBag.Title</h2>

<div id="postsTable">
    @Html.Action("PostList", "Post")
</div>

<div class="links">
    @Html.ActionLink("Home page", "Index", "Home")
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmationModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button id="btnConfirm" type="button" class="btn btn-primary">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $.fn.stars = function () {
            return this.each(function (i, e) { $(e).html($('<span/>').width($(e).text() * 16)); });
        };

        $('.stars').stars();

        $(function () {
            var deleteUrl = "",
                deleteConfirmationText = "",
                $confirmationModal = $("#confirmationModal");

            $(document).on("click", "#postList [data-delete-url]", function () {
                //get data atrributes settings from current button
                deleteUrl = $(this).data("deleteUrl");
                deleteConfirmationText = $(this).data("deleteConfirmationText");

                //fill modal containers with values
                $confirmationModal.find(".modal-title").text("Delete post?");
                $confirmationModal.find(".modal-body").text(deleteConfirmationText);


                $confirmationModal.modal('show');
            });

            $confirmationModal.find("#btnConfirm").click(function () {
                $.ajax({
                    type: 'GET',
                    url: deleteUrl,
                    success: function (responseHtml) {
                        $confirmationModal.modal('hide');
                        $("#postsTable").html(responseHtml);
                    },
                    error: function () {
                        console.log("Error");
                    }
                });
            });
        });
    </script>
}