﻿@model HipHopZen.Models.ApplicationUserDetailsModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Show user";
}

<h2>User: @Model.Name @Model.Surname</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>@Model.Name</dd>

        <dt>Surname:</dt>
        <dd>@Model.Surname</dd>

        <dt>Username:</dt>
        <dd>@Model.UserName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>
<br />

@if (Model.Id == User.Identity.GetUserId())
{
    <div class="links">
        @Html.ActionLink("Edit", "Edit") |
        @Html.ActionLink("Change your password", "ChangePassword", "Manage") |
        @Html.ActionLink("Home page", "Index", "Home")
    </div>
}
else
{
    <div class="links">
        @Html.ActionLink("Home page", "Index", "Home")
    </div>
}

