﻿@model HipHopZen.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@using Microsoft.AspNet.Identity

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details", "ApplicationUser", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })
        </div>
    </div>
}
<div class="links">
    @Html.ActionLink("Back to account", "Details", "ApplicationUser", new { id = User.Identity.GetUserId() }, new { @class = "something" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}@model HipHopZen.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@using Microsoft.AspNet.Identity

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details", "ApplicationUser", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-default" })
        </div>
    </div>
}
<div class="links">
    @Html.ActionLink("Back to account", "Details", "ApplicationUser", new { id = User.Identity.GetUserId() }, new { @class = "something" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}